.input-search {
  padding: 10px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 1px gray;
  font-size: 18px;
  transition: width 0.3s;
}

.input-search:focus {
  outline: 1px solid blue;
  box-shadow: none;
  width: 230px;
}

.input-search::placeholder {
  color: blue;
}